@use "../../sassItems" as *;

.app {
  padding: 0;
  font-family: sans-serif;
  .login {
    @include center;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom,
      $topColorGradient,
      $downColorGradient
    );
    .loginBox {
      color: $textColor;
      background-color: $pageColor;
      width: 450px;
      min-height: fit-content;
      border-radius: 9px;
      .titleBox {
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        .logo {
          width: 100%;
          img {
            margin: 0 auto;
            width: 100px;

          }
        }
        .projectName {
          font-weight: bold;
          line-height: 1;
          margin: -5px 0;
        }
        .pageName {
          font-weight: lighter;
          line-height: 1;
        }
      }
      .errorMessage {
        @include center;
        width: 100%;
        padding: 10px 5px;
        justify-content: flex-start;
        gap: 10px;
        margin-left: 20px;
        color: red;
        width: calc(100% - 40px);
        border: 1px solid red;
        border-radius: 7px;
        background-color: rgba(255, 0, 0, 0.063);
        .errorIcon {
          font-size: 20px;
        }
      }
      .contentBox {
        padding: 20px;
        label {
          font-size: 18px;
          display: block;
        }
        .input {
          margin: 5px 0 15px 0;
          position: relative;
          color: $secondTextColor;

          .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            font-size: 24px;
          }
          input {
            color: $textColor;
            width: calc(100%);
            height: 40px;
            padding: 5px 40px;
            outline: none;
            border: 1.5px solid $secondTextColor;
            font-size: 18px;
            border-radius: 9px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
            &:focus {
              border-color: $mainColor;
            }
            &::placeholder {
              color: $secondTextColor;
              font-size: 17px;
            }
          }
        }
        .loginButton {
          margin: 20px auto;
          text-align: center;

          button {
            width: 100%;
            padding: 15px 0;
            background-color: $mainColor;
            color: white;
            border: none;
            border-radius: 7px;
            transition: 0.3s;
            &:hover {
              background-color: #{$mainColor}EE;
            }
          }
        }
      }
      .footerBox {
        @include center;
        background-color: rgb(249 250 251);
        border-top: 1px solid #ddd;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        border-radius: 9px;

        .toSignUp {
          margin-left: 5px;
          border: none;
          background-color: transparent;
          color: $mainColor;
          transition: 0.3s;
          &:hover {
            color: $downColorGradient;
          }
        }
      }
    }
  }
}
