@use "../../sassItems" as *;

.searchPage {
  background-color: $pageColor;
  width: 100%;
  padding: 40px 0;
  min-height: 100vh;
  .container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;

    .bookCard {
      z-index: 1 !important;
      width: 300px;
      box-shadow: 0 0 10px rgb(209, 209, 209);
      position: relative;
      height: fit-content;
      img {
        width: 300px;
        height: 450px;
      }
      .text {
        margin-top: 10px;
        padding: 5px 10px;

        .bookName {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .show {
        display: block;
        font-size: 20px;
        text-align: center;
        margin: 10px 100px;
        height: 40px;
        padding: 9px;
        border-radius: 7px;
        background-color: $mainColor;
        color: white;
        position: relative;
        bottom: 0px;
      }
    }
  }
}
