@use "../../sassItems" as *;

.bookPage {
  .container {
    display: flex;
    justify-content: space-between;
    .bookImg {
      width: 400px;
    }
    .right {
      max-width: calc(100% - 425px);
    
      .bookData {
        margin-bottom: 50px;
        overflow-wrap: break-word;
        .bookName {
          font-size: 30px;
          font-weight: bold;
        }
        .authorName {
          font-size: 20px;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }

      .bookOwner {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title {
            font-size: 25px;
            font-weight: bold;

            
            
        }
        >p {
            font-size: 20px;
        }
      }
    }
  }
}
