@use "../../sassItems" as *;

.app {
  padding: 0;
  font-family: sans-serif;
  .signUp {
    @include center;
    padding: 20px 0;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom,
      $topColorGradient,
      $downColorGradient
    );
    .signUpBox {
      color: $textColor;

      background-color: $pageColor;
      width: 450px;
      min-height: 600px;
      border-radius: 9px;
      .titleBox {
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        .logo {
          width: 100%;
          img {
            margin: 0 auto;
            width: 100px;

          }
        }
        .projectName {
          font-weight: bold;
          line-height: 1;
          margin: -5px 0;
        }
        .pageName {
          font-weight: lighter;
          line-height: 1;
        }
      }
      
    }
  }
}
.contentBox {
  padding: 20px;
  label {
    font-size: 18px;
    display: block;
  }
  .input {
    margin: 5px 0 15px 0;
    position: relative;
    color: $secondTextColor;
    

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      font-size: 24px;
    }
    input {
      color: $textColor;
      width: calc(100% );
      height: 40px;
      padding: 5px 40px;
      outline: none;
      border: 1.5px solid $secondTextColor;
      font-size: 18px;
      border-radius: 9px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      &:focus {
        border-color: $mainColor;
      }
      &::placeholder {
        color: $secondTextColor;
        font-size: 17px;
      }
    }
  }
  .ERROR {
    @include ERROR;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .signUpButton , .editButton {
    margin: 20px auto;
    text-align: center;

    button {
      width: 100%;
      padding: 15px 0;
      background-color: $mainColor;
      color: white;
      border: none;
      border-radius: 7px;
      transition: 0.3s;
      &:hover {
        background-color: #{$mainColor}EE;
      }
    }
  }
}
.footerBox {
  @include center;
  background-color: $pageColor;
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 9px;
  padding: 10px;

  .toLogin {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: $mainColor;
    transition: 0.3s;
    &:hover {
      color: $downColorGradient;
    }
  }
}