@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ERROR {
  width: 100%;
  color: red;
  margin-top: -5px;
  margin-left: 5px;
}

$topColorGradient: #0284c7;
$downColorGradient: #075985;
$mainColor: #0284c7;
$textColor: rgb(55, 55, 55);
$secondTextColor: rgb(156 163 175);





